.btn {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: 3px solid black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}